<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/styles/style.css" />
  </head>
  <body>
    <header>
      <div>
        <img class="logo" src="/assets/images/virtual-logo.svg" alt="Virtual lab logo" />
      </div>
      <nav>
        <ul class="header-ul">
          <li class="more-menu" id="show-product-menu">
            <a href="#">Back-Ends</a>
            <img src="/assets/images/down-arrow-svgrepo-com.svg"  alt="arrow"/>
          </li>
          <li>
            <a href="#">UX</a>
          </li>
          <li>
            <a href="#">Windows</a>
          </li>
          <li>
            <a href="#">ML</a>
          </li>
          <li class="more-menu" id="show-more-menu">
            <a href="#">Front-Ends</a>
            <img src="/assets/images/down-arrow-svgrepo-com.svg" alt="arrow" />
          </li>
          <li>
            <a href="#">About Us</a>
          </li>
        </ul>
      </nav>
    </header>
    <div style="width: 100vw; height: 2000px; background-color: red"></div>
    @RenderBody()
    <script src="/assets/js/script.js"></script>
  </body>
</html>


